{% extends "layout.html" %}

{%  block content %}
<section>
    <div class="container">
        <div class="entries-list single">
            <article>
                <h1>{{  entries.title }}</h1>
                <time>{{  entries.date }}</time>
                <div class="entries">
                    <h3>Time Spent: </h3>
                    <p>{{  entries.time_spent }}</p>
                </div>
                <div class="entries">
                    <h3>What I Learned:</h3>
                    <p>{{ entries.learned }}</p>

                </div>
                <div class="entries">
                    <h3>Resources to Remember:</h3>
                    <p>{{ entries.resources }}</p>
                </div>
                <div class="entries">
                    <h3>Tags:</h3>
                    {% for tags in entries.get_tags() %}
                    <a href="{{ url_for('listing'), tag=tags.id }}"></a><p>{{ tags.tag_name }} </p>
                    {%  endfor %}
                </div>
            </article>
        </div>
    </div>
    <div class="edit">
        <a class="button icon-right" href="{{ url_for('edit', entries_id=entries.id) }}">
            <span>Edit Post</span><i class="material-icons">edit</i></a>
    </div>
</section>
{% endblock %}