{% extends "layout.html" %}

{%  block content %}
<section>
    <div class="container">
        <div class="entry-list">
            <article>
            <h3>Title:</h3>
            {{ entries.title }}
            <h3>Date:</h3>
            {{  entries.date }}
            <h3>Time Spent:</h3>
            {{  entries.time_spent }}
            <h3>What I Learned:</h3>
            {{ entries.learned }}
            <h3>Resources to Remember:</h3>
            {{ entries.resources }}<br><br><br>
            <a href="{{ url_for("edit", entry_id=entries.id) }}"
               class="button button-secondary">Edit Post</a><br><br>
            <a href="{{ url_for("delete", entry_id=entries.id) }}"
               class="button button-secondary">Delete Post</a>
            </article>
        </div>
    </div>
</section>
{% endblock %}